<!--<div ng-controller="headerCtrl">
</div>-->
<style>
.testdrivebg input::placeholder {
    color: #ffffff !important;
    opacity: 0 !important; /* Firefox */
}
.testdrivebg input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   opacity: 0 !important;
}
.testdrivebg input::-ms-input-placeholder { /* Microsoft Edge */
   opacity: 0 !important;
}
               .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
</style>

<div ng-controller="testdrivectrl" class="testdrivebg" style="min-height:600px;">
        <div class="alert alert-success alert-dismissable fade in" ng-show="Showsuccessalert">
       <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>-->
  <strong>{{successmessage}}</strong> 
</div>
        <div class="alert alert-danger alert-dismissable fade in" ng-show="Showerroralert" id="alertmessage">
       <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>-->
  <strong>{{errormessage}}</strong> 
</div>
     <div class="alert alert-info alert-dismissable fade in" ng-show="Showinfoalert" id="alertmessage">
       <!-- <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>-->
  <strong>{{infomessage}}</strong> 
</div>
    <div class="container " style="height:100%;">
        <div class="row top-buffer"> </div>
        <div class="row">       
            <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12 col-center-block1" style="background:transparent">
                 <div class="row" style="padding:15px;margin-right:0px;margin-left:0px;background:transparent;">
    <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2" style=""><img src="./images/home/slide_line1.png" style="margin-top: 20px;" class="pull-right"></div>
    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8" style=""><h4 class="text-center" style="color:#ffffff;font-weight:bold;font-size:23px;"> TEST RIDE</h4></div>
    <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2" style=""><img src="./images/home/slide_line1.png" style="margin-top: 20px;" class="pull-left"></div>
  </div>
                <div class="row">
                    <div style="">
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <form role="form" name="testdriveform" novalidate>
                                           
                        <div class="form-group input-group" style="width: 95%;">
                            <span class="has-float-label" ng-class="{ 'has-error' : testdriveform.submitted && testdriveform.testname.$invalid }">
  <input type="text" ng-model="testdrive.name" tabindex="1" name="testname" placeholder="Email" class="form-control borderline" id="username" required>
  <label for="username">Name</label>
                                </span>
                             <p ng-show="testdriveform.submitted && testdriveform.testname.$error.required" class="text-danger">Name is Required</p>
</div>
                               
                          
                                <div class="form-group input-group" style="width: 95%;">
                              <span class="has-float-label" ng-class="{ 'has-error' : testdriveform.submitted && testdriveform.testemail.$invalid }">
                                    <input type="email" ng-model="testdrive.email" name="testemail" tabindex="2" placeholder="Email" class="form-control borderline" id="usermail" required>
                                    <label for="usermail">Email</label>
                                </span>
                            <p ng-show="testdriveform.submitted && testdriveform.testemail.$error.required" class="text-danger">Email is Required</p>
                <p ng-show="testdriveform.submitted && testdriveform.testemail.$error.email" class="text-danger">Enter a valid email.</p>

                              
                                </div>
                            
                                
                                <div class="form-group input-group" style="width: 95%;">
                                 <span class="has-float-label" ng-class="{ 'has-error' : testdriveform.submitted && testdriveform.testmobile.$invalid }">
                                    <input type="number" ng-model="testdrive.mobile" name="testmobile" tabindex="3" placeholder="Mobile Number" ng-minlength="10" ng-maxlength="10" class="form-control borderline" id="usermobile" required>
                                    <label for="usermobile">Mobile Number</label>
                               </span>
                                 <p ng-show="testdriveform.submitted && testdriveform.testmobile.$error.required" class="text-danger">Mobile No is Required</p>
                                 <p ng-show="testdriveform.submitted && testdriveform.testmobile.$error.minlength" class="text-danger">Mobile Number Should be 10 digits</p>
                                 <p ng-show="testdriveform.submitted && testdriveform.testmobile.$error.maxlength" class="text-danger">Mobile Number Maximum 10 digits</p>
                                </div>
                                 
                                
                                <div class="form-group input-group" style="width:95%;">
                                <span class="has-float-label" ng-class="{ 'has-error' : testdriveform.submitted && testdriveform.testmodel.$invalid }">                             
                                    <select class="form-control borderline" name="testmodel" ng-model="testdrive.bike" tabindex="4" id="testdrivemodel" ng-change="testFuels();row1=1;" required>
                                        <option value="" ng-selected="true" disabled>Model *</option>
                                 <option ng-repeat="data in bikedetails" value="{{data.name}}">{{data.name}}</option>
                                    </select>
                                    <label class="" for="testdrivemodel" ng-if="row1==1">Model *</label>
                                    </span>
                                 <p ng-show="testdriveform.submitted && testdriveform.testmodel.$error.required" class="text-danger">Model is Required</p>
                                </div>
                             
                            </form>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                            <form role="form" name="testdriveform1" novalidate>
                                <div class="form-group input-group" style="width: 95%;">
                                <span class="has-float-label" ng-class="{ 'has-error' : testdriveform1.submitted && testdriveform1.testshowroom.$invalid }">
                              
                                    <select class="form-control borderline"  ng-model="testdrive.location" name="testshowroom" tabindex="6" id="testsales" required ng-change="row2=1;">
                                        <option value="" ng-selected="true" disabled>Sales Centers</option>
                                 <option ng-repeat="dealer in dealerdata" value="{{dealer.dealer_name}}" ng-if="dealer.dealer_type.indexOf('Sales') !== -1 || dealer.dealer_type.indexOf('Sales') !== -1">{{dealer.dealer_name}}</option>
                                    </select>
                                    <label class="form-control1-placeholder" for="testsales" ng-if="row2==1">Sales Centers *</label>
                                    </span>
                                 <p ng-show="testdriveform1.submitted && testdriveform1.testshowroom.$error.required" class="text-danger">Showroom is Required</p>
                                </div>
                                
                                
                                <div class="form-group input-group" style="width: 95%;">
                                <span class="has-float-label" ng-class="{ 'has-error' : testdriveform1.submitted && testdriveform1.testdate.$invalid }">
                                  
                                    <input type="text" id='datepicker1' tabindex="7" name="testdate" data-date-start-date="Date.default" placeholder="Date" ng-model="testdrive.ride_date" class="form-control borderline" required>
                                    <label for="datepicker1">Date</label>
                                    </span>
                                 <p ng-show="testdriveform1.submitted && testdriveform1.testdate.$error.required" class="text-danger">Date is Required</p>
                                </div>
                                
                                <div class="form-group input-group" style="width: 95%;">
                                <span class="has-float-label" ng-class="{ 'has-error' : testdriveform1.submitted && testdriveform1.testtime.$invalid }">                                 
                                    <input type="text" placeholder="Time" name="testtime" tabindex="8" ng-model="testdrive.ride_time" class="form-control borderline" id="clockpicker1" required>
                                    <label for="clockpicker1">Time</label>
                                    </span>
                                 <p ng-show="testdriveform1.submitted && testdriveform1.testtime.$error.required" class="text-danger">Time is Required</p>
                                </div>
                         

                            </form>
                        </div>
                    </div>
                </div>
                <div class="cartitle text-center visible-lg visible-md visible-sm hidden-xs">
                    <div class="btn btn-primary btn-md btn-custom-lg " style="width:250px;" ng-click="submittestdrive();" tabindex="10">SUBMIT</div>
                </div>
                   <div class="cartitle text-center hidden-lg hidden-md hidden-sm visible-xs">                 
                    <div class="btn btn-default btn-md btn-custom-lg" style="width:250px;" ng-click="submittestdrive();" tabindex="10">SUBMIT</div>
                    <!--<span class="glyphicon glyphicon-refresh spinning"></span>-->
                </div>
            </div>

        </div>
        <div class="row bottom-buffer"> </div>

    </div></div>
 <div ng-include="'views/footer.html'" ng-cloak></div>